
:root {
    /* FONTS */
    --font-sans: "Poppins", Helvetica, Sans-Serif;
    --font-clean: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* FONT-SIZES */
    --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.2em;
    /* COLORS */
    --primary-color: #02010a;
    --secondary-color: #052C6F;
    --highlight-color: #FF9B42;
    --light-color:  #EBF0F0;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: var(--font-clean);
    font-size: var(--font-base);
    background-color: var(--light-color);
    color: var(--primary-color);
}
main{
    position: relative;
}
.highlight {
    color: var(--highlight-color);
}
.divider {
    border-bottom: 2px solid var(--highlight-color);
}
.visible {
    visibility: visible;
    opacity: 1;
    position: relative;
    left: 0;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -9999px;
    transition: opacity 0.3s ease;
}
img {
    max-width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 20px;
    background-color: var(--primary-color);
}

.logo {
    overflow: hidden;
    display: flex;
    font-size: 30px;
    text-align: right;
    width: 100%;
    position: relative;
}
#logo-name-link, #logo-name-link *{
    font-size: 1.5rem;
    margin: auto 0;
}
#logo-name-link{
    margin-left: 1rem;
    margin-right: 10px;
}
#logo-svg {
    width: 40px;
    height: 40px;
    fill: var(--light-color);
}
#logo-svg .logo-svg-path-reflect{
    display: none;
}
#logo-svg:hover .logo-svg-path-reflect{
    display: block;
    fill: var(--highlight-color)
}
#logo-svg:hover .logo-svg-path-highlight1{
    transition: fill .5s;
    fill: var(--secondary-color);
}
#logo-svg:hover .logo-svg-path-highlight2{
    transition: fill .5s;
    fill: var(--highlight-color);
}
.logo a {
    text-decoration: none;
    color: var(--light-color);
    /*margin: 10px;*/
}
.logo a:hover:not(#log-svg){
    transform: scale(1.05);
    transition: 0.25s;
}
#hero{
    position: relative;
}
.img-container{
    height: 400px;
    position: relative;
    transition: height .25s ease; 
}
.shrink{
    height: 1.0rem;
    width: auto;
    border-bottom: 2px solid var(--primary-color);
    overflow: hidden;
    /*z-index: 101;*/
}
#search-container{
    display: flex;
    border: 1.5px solid var(--primary-color);
    border-radius: 5px;
    margin: 0 auto;
    background-color: var(--light-color);
    position: absolute;
    top: 0;
    left: 0;
    /* mobile specific css */
    width: 95%;
    transform: translate(2.5%, 50%);
    height: 2rem;
    transition: .25s;
}
#search-container:hover{
    border: 1.5px solid var(--highlight-color);
}
#search-container>*{
    border: 0 none;
    background-color: var(--light-color);
    border-radius: 3px;
}
#search-container.slide-up{
    position: absolute;
    top: 0;
    left: 0;
    /*right: 2rem;*/
    transform: translate(0%, -50%);
    width: 100%;
}
#searchInput:focus{
    border: 2px solid var(--highlight-color);
    outline: none;
}
#searchInput{
    width: 100%;
    border-left: 1px solid var(--primary-color);
    border-radius: 0;
}
#bookmarkButton{
    background-color: var(--highlight-color);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    min-width: 2rem;
    border-right: 1px solid var(--primary-color)
}
#favoritesMenu{
    display: flex;
    flex-direction: column;
    gap: 0rem;
    justify-content: center;
    padding: .5rem;
    color: var(--light-color);
    background-color: var(--primary-color);
    width: 85%;
    font-size: 1rem;
    position: absolute;
    transform: translate(0, 2rem);
    overflow-y: auto;
    z-index: 100;
    overflow-x: hidden;
}
.menuItem{
    display: flex;
    width: 80%;
    cursor: pointer;
    /*justify-content: space-between;*/
    align-items: center;
    /*margin: 0rem;
    height: 1rem;*/
}
.menuItem{
    width: 100%;
}
.menuItem:hover{
    background-color: var(--highlight-color);
    color: var(--primary-color);
    transform: scale(1.02);
}
.menuLocation{
    margin: 0rem auto 0 0;
    padding: .2rem 1rem;
    cursor: pointer;
    width: 100%;
}
.delete-btn{
    height: 1rem;
    width: auto;
    margin: 0 1rem 0 0;
}
.delete-btn:hover{
    transform: scale(1.3);
}
.delete-btn:active{
    transform: scale(1.1);
}
/*#menuContainer{
    display: flex;
    flex-direction: column;
    
}*/
#searchButton{
    background-color: var(--highlight-color);
    border-radius: 0;
    min-width: 2rem;
    border-right: 1px solid var(--primary-color);
}
#saveFavButton{
    background-color: var(--highlight-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: 2rem;
    /*border: 0;*/
    border-left: 2px solid var(--primary-color);
    border-right: 1px solid var(--highlight-color);
}
button:hover:not(.prev-btn, .next-btn) {
    transform: scale(1.11);
    box-shadow: 0 0 3px var(--highlight-color);
}
button:active:not(.prev-btn, .next-btn) {
    transform: scale(1);
    outline: none;
    border: 2px solid var(--highlight-color);
    box-shadow: 0 0 0px var(--highlight-color);
    
}
#popup-message{
    position: absolute;
    padding: .25rem 1rem;
    background-color: var(--light-color);
    border: 1px solid var(--highlight-color);
    z-index: 101;
    font-size: 1rem;
    top: calc(100% + 1rem)
}

/* WINDY  STYLE*/
#windy {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    /*height: auto;*/
}
#legendContainer{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--primary-color);
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    color: var(--light-color);
    z-index: 1000;
    opacity: .75;
    gap: 1rem;
}
.pin-legends{
    display: flex;
    align-items: baseline;
    gap: 1rem;
}
.pin-legends p{
    font-size: .8rem;
    margin: auto 0 0 0 ;
}
.pin-legends img{
    height: 1.5rem;
    width: auto;
    margin: auto 0 0 0 ;
}
#popupContent{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(10px);
}
#popupImg{
    margin: 0 auto;
}
#popupName{
    margin: .5rem auto;
}
/*#zoom{
    position: absolute;
}*/


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 20px;
    /*margin: 3rem 0;*/
    background-color: var(--primary-color);
    color: var(--light-color);
}
#footer-contact-container:hover{
    transition: .15s linear;
    transform: scale(1.1);
}
#footer-contact-container:active{
    transition: .1s linear;
    transform: scale(.95);
}


/* Marina-Details Style */
#marina-details{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem auto 4rem auto;
    padding-bottom: 4rem;
}
#marina-details-card1, #marina-details-card2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 5% 0 5% 0;
}
#marina-details-card1{
    background-color: var(--primary-color);
}
#marina-details-card2{
    background-color: var(--secondary-color);
}
#marinaDetailsImgContainer{
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}
.marina-img{
    width: auto;
    height: 100%;
    object-fit: cover;
    /*overflow: hidden;*/
}
.carousel{
    display: flex;
    transition: .3s ease;
    /*overflow-x: hidden;*/
    /*position: relative;*/
}
.slide{
    flex: 0 0 100%
}
.prev-btn:hover, .next-btn:hover{
    background: rgba(0, 0, 0, 1);
}
.prev-btn:active, .next-btn:active{
    transform: scale(.95) translateY(-50%);
}
.prev-btn img, .next-btn img{
    height: 2rem;
}
.prev-btn, .next-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.prev-btn{
    left: 0;
}
.next-btn{
    right: 0;
}
#services, #locations{
    color: var(--light-color);
    width: 90%;
    margin: 0 auto;
}
.fuel-details-container *{
    margin: auto 0 0 0;
}
.fuel-details-container{
    display: flex;
    gap: .5rem;
    margin: 1rem 0 ;
    align-items: baseline;
}
.fuel-type-icon{
    width: 2rem;
    height: auto;
    margin: 0;
    padding: 0;
}
.fuel-title{
    margin: auto 0 0 0;
}
.fuel-icon-img{
    width: 1rem;
    margin: auto 0 0 0;
    align-self: baseline;
}
.fuel-icon-img:hover{
    transform: scale(1.25);
}
/*.fuel-details-container {*/
.fuel-icon{
    position: relative; 
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding-bottom: 2.5px;
}
.fuel-price {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 10%;
    padding: 5px;
    border-radius: 5px;
    background: var(--light-color);
    border: 1px solid var(--highlight-color);
    color: var(--primary-color);
}
.fuel-details-container:hover .fuel-price {
    display: block; 
}
#marinaDetailsRatings{
    display: flex;
    gap: 1rem;
    margin: 1rem auto 1rem 0;
    width: 90%;
    margin: 0 auto;
}
#rating-count{
    color: var(--light-color);
    font-size: 1rem;
}
#stars *{
    width: 1rem;
    height: auto;
}
#marina-details-card2 #windy{
    width: 90%;
    margin: 0 auto;
}
#streetLocationContainer, #coordsLocationContainer, #what3wordsContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem auto 0 0;
    font-size: 1rem;
    justify-content: baseline;
    align-items: baseline;
}
.location-img-icons{
    width: 2rem;
    height: auto;
    margin: auto 0;
}
#city-state, #coords, #threeWords{
    margin: auto 0
}

@media screen and (min-width: 800px) {
    body {
        max-width: 70%;
        margin: auto;
    }
    #hero-img{
        width: 100%;
    }
    #search-container{
        width: 50%;
        transform: translate(50%, 50%);
        transition: .25s linear;
    }
    #search-container.slide-up{
        position: absolute;
        right: 2rem;
        transform: translate(50%, -200%);
        width: 50%;
    }
    .shrink{
        height: 0rem;
        width: auto;
        border-bottom: 2px solid var(--highlight-color);
        overflow: hidden;
        /*z-index: 101;*/
    }
    #windy {
        height: 750px;
    }
    #marina-details{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    #marina-name{
        grid-column: 1/-1;
        padding: 0;
        margin: 0;
    }
    #marina-details-card1{
        grid-column: 1/2;
        justify-content: space-between;
    }
    #marina-details-card2{
        grid-column: 2/3;
        min-height: 800px;
    }
    #marina-details-card2 #windy{
        height: 100%;
    }
}
@media screen and (max-width: 500px) {


}
