
:root {
    /* FONTS */
    --font-sans: "Poppins", Helvetica, Sans-Serif;
    --font-clean: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* FONT-SIZES */
    --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.2em;
    /* COLORS */
    --primary-color: #02010a;
    --secondary-color: #052C6F;
    --highlight-color: #FF9B42;
    --light-color:  #EBF0F0;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: var(--font-clean);
    font-size: var(--font-base);
    background-color: var(--light-color);
    color: var(--primary-color);
}
main{
    position: relative;
}
.highlight {
    color: var(--highlight-color);
}
.divider {
    border-bottom: 2px solid var(--highlight-color);
}
.visible {
    visibility: visible;
    opacity: 1;
    position: relative;
    left: 0;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -9999px;
    transition: opacity 0.3s ease;
}
img {
    max-width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 20px;
    background-color: var(--primary-color);
}

.logo {
    overflow: hidden;
    display: flex;
    font-size: 30px;
    text-align: right;
    width: 100%;
    position: relative;
}
#logo-name-link, #logo-name-link *{
    font-size: 1.5rem;
    margin: auto 0;
}
#logo-name-link{
    margin-left: 1rem;
    margin-right: 10px;
}
#logo-svg {
    width: 40px;
    height: 40px;
    fill: var(--light-color);
}
#logo-svg .logo-svg-path-reflect{
    display: none;
}
#logo-svg:hover .logo-svg-path-reflect{
    display: block;
    fill: var(--highlight-color)
}
#logo-svg:hover .logo-svg-path-highlight1{
    transition: fill .5s;
    fill: var(--secondary-color);
}
#logo-svg:hover .logo-svg-path-highlight2{
    transition: fill .5s;
    fill: var(--highlight-color);
}
.logo a {
    text-decoration: none;
    color: var(--light-color);
    /*margin: 10px;*/
}
.logo a:hover:not(#log-svg){
    transform: scale(1.05);
    transition: 0.25s;
}
#hero{
    position: relative;
}
.img-container{
    height: 400px;
    position: relative;
    transition: height .25s ease; 
}
.shrink{
    height: 1.0rem;
    width: auto;
    border-bottom: 2px solid var(--primary-color);
    overflow: hidden;
    /*z-index: 101;*/
}
#search-container{
    display: flex;
    border: 1.5px solid var(--primary-color);
    border-radius: 5px;
    margin: 0 auto;
    background-color: var(--light-color);
    position: absolute;
    top: 0;
    left: 0;
    /* mobile specific css */
    width: 95%;
    transform: translate(2.5%, 50%);
    height: 2rem;
    transition: .25s;
}
#search-container:hover{
    border: 1.5px solid var(--highlight-color);
}
#search-container>*{
    border: 0 none;
    background-color: var(--light-color);
    border-radius: 3px;
}
#search-container.slide-up{
    position: absolute;
    top: 0;
    left: 0;
    /*right: 2rem;*/
    transform: translate(0%, -50%);
    width: 100%;
}
#searchInput:focus{
    border: 2px solid var(--highlight-color);
    outline: none;
}
#searchInput{
    width: 100%;
    border-left: 1px solid var(--primary-color);
    border-radius: 0;
}
#bookmarkButton{
    background-color: var(--highlight-color);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    min-width: 2rem;
    border-right: 1px solid var(--primary-color)
}
#favoritesMenu{
    display: flex;
    flex-direction: column;
    gap: 0rem;
    justify-content: center;
    padding: .5rem;
    color: var(--light-color);
    background-color: var(--primary-color);
    width: 100%;
    font-size: 1rem;
    position: absolute;
    transform: translate(0, 2rem);
    overflow-y: auto;
    z-index: 100;
}
.favorite-location{
    margin: 0rem;
    padding: .2rem 1rem;
    cursor: pointer;
}
.favorite-location:hover{
    background-color: var(--highlight-color);
    color: var(--primary-color);
}
#searchButton{
    background-color: var(--highlight-color);
    border-radius: 0;
    min-width: 2rem;
    border-right: 1px solid var(--primary-color);
}
#saveFavButton{
    background-color: var(--highlight-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: 2rem;
    /*border: 0;*/
    border-left: 2px solid var(--primary-color);
}
button:hover{
    transform: scale(1.11);
    box-shadow: 0 0 3px var(--highlight-color);
}
button:active {
    transform: scale(1);
    outline: none;
    border: 2px solid var(--highlight-color);
    box-shadow: 0 0 0px var(--highlight-color);
    
}
#popup-message{
    position: absolute;
    padding: .25rem 1rem;
    background-color: var(--light-color);
    border: 1px solid var(--highlight-color);
    z-index: 101;
    font-size: 1rem;
    top: calc(100% + 1rem)
}





/* WINDY  STYLE*/
#windy {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    /*height: auto;*/
}
/*#zoom{
    position: absolute;
}*/


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 20px;
    /*margin: 3rem 0;*/
    background-color: var(--primary-color);
    color: var(--light-color);
}
#footer-contact-container:hover{
    transition: .15s linear;
    transform: scale(1.1);
}
#footer-contact-container:active{
    transition: .1s linear;
    transform: scale(.95);
}


/* Marina-Details Style */
#marina-details-body{
    position: relative;
}
#marina-details-main{
    padding-top: 3rem;
}
#marina-name{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--primary-color);
    font-family: var(--font-sans);
    font-size: larger;
    width: 100%;
}
#marina-details-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    background-color: var(--primary-color);
}
#windy.details-windy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto 0 auto;
    padding: 0;
    width: 90%; /* Adjust as needed */
    aspect-ratio: 16 / 9; 
    height: calc(90vw * (9 / 16));
}
#marina-image-container img{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#marina-details{
    display: flex;
    flex-direction: column;
    width: 90%;
    /*justify-content: center;*/
    /*align-items: center;*/
}
#marina-url{
    text-decoration: none;
    color: var(--light-color);
}
#rating-container{
    display: flex;
    gap: 1rem;
    margin: 1rem auto 1rem 0;
}
#rating-count{
    color: var(--light-color);
    font-size: 1rem;
}
#stars{
    
}
#stars *{
    width: 1rem;
    height: auto;
}
#fuel-container *{
    color: var(--light-color);
    text-align: left;
    font-size: 1rem;
}
#fuel-container {
    display: grid;
    grid-template-columns: 1fr 1fr 10px 1fr 1fr 1fr;
}
#fuel-title-header{
    grid-column: 1/2;
    grid-row: 1;
    border-bottom: 1px solid var(--highlight-color);
    width: 100%;
}
#fuel-icon-header{
    grid-column: 2/3;
    grid-row: 1;
    border-bottom: 1px solid var(--highlight-color);
    width: 100%;
    text-align: center;
}
#fuel-price-header{
    grid-column: 3/7;
    grid-row: 1;
    border-bottom: 1px solid var(--highlight-color);
    width: 100%;
    text-align: center;
}
.fuel-title{
    grid-column: 1/2;
}
.fuel-icon{
    grid-column: 2/3;
    margin: 0 auto;
}
.fuel-icon img{
    width: 1rem;
}
.fuel-gap{
    grid-column: 3/4;
    grid-row: 2/5;
    border-left: 1px solid var(--highlight-color);
}
.fuel-price{
    grid-column: 4/7;
}
.fuel-price1{
    grid-column: 4/5;
    grid-row: 3;
}
.fuel-price2 {
    grid-column: 5/6;
    grid-row: 3; 
}
.fuel-price3 {
    grid-column: 6/7;
    grid-row: 3; 
}






@media screen and (min-width: 500px) {
    body {
        max-width: 1080px;
        margin: auto;
    }
    #search-container{
        width: 50%;
        transform: translate(50%, 50%);
        transition: .25s linear;
    }
    #search-container.slide-up{
        position: absolute;
        right: 2rem;
        transform: translate(50%, -200%);
        width: 50%;
    }
    .shrink{
        height: 0rem;
        width: auto;
        border-bottom: 2px solid var(--highlight-color);
        overflow: hidden;
        /*z-index: 101;*/
    }
    #windy.details-windy{
        /*height: 50vh;*/
    }
}
@media screen and (max-width: 500px) {


}
